*{
    margin: 0;
    padding: 0;
    
}
.container{
    display: flex;
    background-color: rgb(81, 207, 98);
    flex-direction: row;
    gap: 20px;

 
    border: 1px solid black;
    height: 100px;
    width: 400px;

}
.item{
    height:50px;
    width:30px;
    background-color: rgb(165, 245, 241);
    border: 2px solid rgb(200, 243, 101);
}