.container{
    display :grid;
    height: 600px;
    width: 800px;
    background-color: bisque;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3,1fr);
    
    
    border: 5px dotted rgb(65, 13, 62);
    justify-items: center;
    align-items: center;

   
}
.item{
    height: 200px;
    width: 100px;
    background-color: #b803a0;
    text-align: center;
    align-content: center;
    margin-top: 2px;
    text-decoration: double;
   

}
.i1{
    grid-column: 1/2;
    grid-row: 1/3;

}
.i2{
    grid-row: 1/2;
    grid-column:2/3;
}
.i3{
    grid-column: 3/4;
    grid-row: 2/3;
}
.i4{
    grid-column: 4/5;
}