.box{
    height: 100px;
    width: 200%;
    background-color: lightcoral;
}
@media(min-width:768px){
    .box{
        background-color: lightblue;
    }
}
@media(min-width:1024px){
    .box{
        background-color: lightgreen;
    }
}