.container{
    display: flex;
    height: 600px;
    width: 800px;
    border: 10px solid black;
    
    justify-content: center;
}
.item{
    display: flex;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    justify-content: center;
    border-radius: 5%;
    box-shadow: 0px 2px 2px black;
    flex-direction: column;
}
.i1{
    align-self: center;
    border-radius: 50%;
    background-color: blue;
    color: white;
   height: 50px;
    width: 50px;
}
.item2{
    
    align-items: center;
    
}