.box1{
        border: 5px solid blue;
        padding: 10px;
        margin: 10px;
    }  
    .box2{
        border: 5px dashed red;
        padding: 10px;
        margin: 10px;
    }
    .highlight{
       text-align: center;
    }
    .box3{
        background-color: lightseagreen;
        text-align: center;
        margin: 10px;
        padding: 10px;
    }
    .box4{
        background-color: lightgreen;
        padding: 10px;
        margin: 10px;
      
    }
    .box{
        height: 200px
        weight: 100px;
        text-align: center;
        }
    .box5{
        border: 5px solid black;
        padding: 10px;
        margin: 10px;
    } 
    .box6{
        background-color: rgb(236, 233, 37);
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: inline-block
    } 
     .box7{
        background-color: rgb(138, 6, 61);
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: inline-block
    } 
     .box8{
        background-color: rgb(163, 244, 250);
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: inline-block
    } 
    .floated{
        border: 5px solid black;
        background-color: lightsalmon;
    } 
    .img{
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
        margin-left: auto;
    } 