.box1{
        border: 5px solid blue;
        padding: 10px;
        margin: 10px;
    }  
    .box2{
        border: 5px dashed red;
        padding: 10px;
        margin: 10px;
    }
    .highlight{
       text-align: center;
    }
    .box3{
        background-color: lightseagreen;
        text-align: center;
        margin: 10px;
        padding: 10px;
    }
    .box4{
        background-color: lightgreen;
        padding: 10px;
        margin: 10px;
      
    }
    .box5{
        
        text-align: center;
         .box6{
        display: inline-block;
            background-color: rgb(241, 186, 47);
    }
     .box7{
        display: inline-block;
        background-color: rgb(241, 186, 47);
    }
     .box8{
        display: inline-block;
        background-color: rgb(241, 186, 47);
    }



    }
   